@charset "utf-8";
@import "vars";


@font-face {
    font-family: 'visitor';
    src: url('../fonts/visitor-tt1--brk--webfont.eot');
    src: url('../fonts/visitor-tt1--brk--webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/visitor-tt1--brk--webfont.woff2') format('woff2'),
         url('../fonts/visitor-tt1--brk--webfont.woff') format('woff'),
         url('../fonts/visitor-tt1--brk--webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}

$color: red;

body {
  background: black;
  color: #f1f1f1;
  font-size: 1em;
  text-align: center;
  font-family: 'visitor', sans-serif; 
}

h1 {
}

.header {
  background: transparent url('../images/bg-header.png') repeat-x top left;
  background-size: 20%;
  padding: 1em 0;
}